* {
    font-family: FontAwesome, Fira Code Retina, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: #D8EAC8;
    color: #2b6710;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ecf0e4;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #2b6710;
}

#workspaces button:hover {
    background: #a5a89f;
}

#workspaces button.active {
    background-color: #a5a89f;
    box-shadow: inset 0 -3px #ecf0e4;
}

#workspaces button.urgent {
    background-color: #B9DBA6;
}

#mode {
    background-color: #ACD490;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpris,
#custom-vpn {
    margin: 1px 0px;
    padding: 0 10px;
    color: #2b6710 ;
    border-radius: 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: #A2D089;
}

#pulseaudio {
    background-color: #ACD490;
}

#pulseaudio.muted {
    background-color: #2b6710;
    color: #ACD490;
}

#backlight {
    background-color: #B9DBA6;
}

#mpris {
    background-color: #C4DEA6;
}

#temperature {
    background-color: #C4DEA6;
}

#battery {
    background-color: #D7E6B0;
}

#battery.charging, #battery.plugged {
    color: #D7E6B0;
    background-color: #2b6710;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #B9DBA6;
}

#memory {
    background-color: #B9DBA6;
}

#network,
#custom-vpn {
    background-color: #ACD490;
}

/* #network    {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#custom-vpn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
}*/

#network.disconnected {
    background-color: #2b6710;
    color: #ACD490;
}

#tray {
    background-color: #A2D089;
    color: #2b6710;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

